<div class="container">
  <h1>Stupid Coach</h1>
  <div class="input-group mb-3">
    <form action="/answer" data-turbo="false">
      <input type="text" name="question" class="form-control" placeholder="Question" aria-label="Question" aria-describedby="button-addon2">
      <input type="submit" value="Ask!" class="btn btn-outline-secondary" id="button-addon2">
    </form>
  </div>
</div>
